<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>6948583215-mj4sp0v5n6spq996e945tttijbabmimg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6948583215-mj4sp0v5n6spq996e945tttijbabmimg</string>
	<key>API_KEY</key>
	<string>AIzaSyD2IQxmi5v44C2Q-r2BqGCyY63ju4U6vIU</string>
	<key>GCM_SENDER_ID</key>
	<string>6948583215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.imaginedays.rw</string>
	<key>PROJECT_ID</key>
	<string>imaginedays</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6948583215:ios:62534eafdc8dd28d</string>
	<key>DATABASE_URL</key>
	<string>https://imaginedays.firebaseio.com</string>
</dict>
</plist>